:root{

    --main-color:#fffbf4
    --second-color:#fffbf4
}


body{
    margin: 0px;
    padding: 0px;
    background-color: #fffbf4;
    font-family: "Cairo", sans-serif;

}

.container{
    direction: rtl;
    /* width: 100%; */
    width: min(70%,90%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table-task{
    width: min(1000px,90%);
    max-height: 600px;
    background-color: #fffbf4;
    align-items: center;
    overflow: auto;
    padding-top: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.08),
    -10px -10px 5px rgb(225, 224, 224)
    ;
    padding: 10px;



}

#navbar{
    background-color: #1930ff;
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    min-height: 100px;
   
}

#info{
    width: 30%;
}


#input-task{

    /* box-sizing: border-box; */
    outline: none;
    width: 100%;
    padding: 20px;
    background: none;
    border: 5px solid rgb(228, 228, 228);
    border-radius: 100px;
    font-size: 20PX;    
}

form{
    position: relative;
}

#BtnAddTask{

    height: 100%;
    width: 140px;
    font-size: 25px;
    position: absolute;
    left: 1px;
    color: #efefef;
    border-radius: 1000px;
}


#tasks{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 20px;
    align-items: center;

    
}


/* ======for task =============================== */
.task{

    display: flex;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    border-bottom: 5px solid #ddd;
    box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
}

.task:hover{
    background-color: #efefef;
    box-shadow: 3px 3px 0px 3px rgba(177, 67, 67, 0.08);
    transform: translateY(-10px);
    
}
.task:active {
    transform: translateY(5px); 
    box-shadow: 0px 5px 15px rgba(177, 67, 67, 0.15); 
}

.done{
    background-color: #1ba959;
    color: #f1f1f1;
}

.done:hover{
    background-color: #34bb6e;
    box-shadow: 3px 3px 0px 3px rgba(177, 67, 67, 0.08);
    transform: translateY(-10px);
}
/* ================================================ */


.actions-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.actions-btn button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

